@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定义动画 */
@keyframes fadeOut {
  0% { opacity: 1; }
  70% { opacity: 1; }
  100% { opacity: 0; }
}

.animate-fade-out {
  animation: fadeOut 3s ease-in-out;
} 